body 
{
  width: 100%;
  height: 100%;
  margin: 0%;
}

#wrapper /*两栏类型的页面*/
{
  display: flex;
  flex-direction: row;
  min-height: 99vh;
}

#userTab/*用户标签*/
{
  width: 85%;
}
#userTab:hover
{
  background-color: transparent;/*用户标签设为透明，覆盖borderTab类默认的hover伪类*/
}

#main 
{
  background-color: rgb(247, 248, 252);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2.3em; 
  width: 80%; /* 调整宽度以适应导航栏，假设总宽度减去导航栏宽度 */
  margin: 1.5%;
  display: flex; /* 添加Flex布局 */
  flex-direction: column; /* 设置垂直方向布局 */
}


#navigationBar 
{
  margin: 1%;
  width: auto;
  height: 2rem;
}

#content 
{
  margin: 1%;
  flex-grow: 1;
  display: flex; /* 添加Flex布局 */
  flex-direction: column; /* 设置垂直方向布局 */

  position: relative;
}

.button /*默认按钮样式*/
{
  border:none;
  box-shadow: 0px 2.1px 3px rgba(0, 0, 0, 0.6);
  color:white;
  background-color: rgb(98, 84, 220);
  font-size: 0.9em;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: bottom;
}
.button:hover
{
  background-color: rgba(98, 84, 220, 0.9);
}
.button:active
{
  background-color: rgb(98, 84, 220);
}

.buttonBox1
{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 10%;
}

#borderNavigationBar /*边栏样式*/
{
  border-radius:0% 1.3% 1.3% 0%; 
  width: 20%;
  display: flex;
  flex-direction: column;
}
.borderTab/*标签默认样式*/
{
  border: 0.5px rgba(0, 0, 0, 0.086) solid;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom-color: transparent; 
  border-radius: 0.45em;
  width: 80%;
  height: 5em;
  margin: 10% auto; /* 简化上下左右外边距设置 */
  font-size: 0.9em;

  -webkit-user-select: none; /* Safari, Chrome 和 Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 和 Edge */
  user-select: none; /* 标准语法 */

  display: flex; /* 添加Flexbox布局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}
.activeTab
{
  background-color:rgb(98, 84, 220, 0.05);
  border:1px rgba(98, 84, 220, 0.5)  solid;
}
.borderTab:hover:not(.activeTab)
{
  background-color:rgb(98, 84, 220, 0.05);
}


/*作业界面样式*/
#generateMultiplication
{
  margin-bottom: 6%;
}
/*输入框样式*/
.contentInput
{
  border: 1px black solid;
  width: 12.5%;
}
.contentInput:focus/*取消选择框高亮*/
{
  outline: none;
}
.work
{
  overflow-y: auto;
  background-color: white;
  width: 80%;
  border-radius: 2em;
  margin:2% auto;
  padding:4% 6%;
}
.headerBox 
{
  display: flex; /* 使用Flex布局来排列标题和按钮 */
  justify-content: space-between; /* 在容器两端对齐项目，中间留有空白 */
  align-items: center; /* 垂直居中对齐 */
}
#multiplicationTable
{
  font-size: 0.8em;
}
#multiplicationTable td
{
  width: 9%;
  height: 6%;
  border:1px black solid;
  padding: 1%;
}

/*个人介绍界面样式*/
/*矩形作业的样式*/
#draggable {
  position: absolute;
  right: 0; /* 将其定位在容器的右侧 */
  bottom: 0; /* 将其定位在容器的底部 */
  width: 100px;
  height: 100px;
  background-color: red;
  cursor: move;
  border-radius: 10px;
}

#player1/*播放器样式*/
{
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

#profilePicture
{
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  margin: 0rem 1.2rem 0rem 0rem;
}
.infoBox {
  display: flex;
  align-items: center; /* 垂直居中 */
}
#surferName
{
  font-size:2rem;
  margin-bottom: 0;
  margin-top: 0;
}
.infoBox span
{
  font-size: 1.12rem;
}
.infoBox img 
{ 
  width: 30px;
  height: 30px;
}
#selfInfo
{
  margin: 2.5rem;
  display: grid;
  grid-template-columns: 1fr;
}
#profile
{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#mainSocialWebBox
{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#introduction
{
  padding: 0.15rem;
  font-weight:lighter;
}
#selfIntroduction
{
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  gap: 1rem;
}
#selfIntroduction .title
{
  font-weight: bold;
  color: rgb(206, 206, 206);
  font-size: 1.12rem;
}
#selfIntroduction .title, .content
{
  margin: 2rem 0rem 4rem 0rem;
}
#infoTitle
{
  padding: 0.15rem;
}

