body 
{
  width: 100%;
  height: 100%;
  margin: 0%;
}

#wrapper /*两栏类型的页面*/
{
  display: flex;
  flex-direction: row;
  min-height: 99vh;
}

#borderNavigationBar /*边栏样式*/
{
  border: 1px black solid;
  width: 20%;
  display: flex;
  flex-direction: column;
}


.borderTab/*标签默认样式*/
{
  border: 1px black solid;
  width: 80%;
  height: 2rem;
  margin: 10% auto; /* 简化上下左右外边距设置 */
  font-size: 0.9em;
  border-radius: 2.8%;
  display: flex; /* 添加Flexbox布局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

#userTab/*用户标签*/
{
  width: 85%;
}
#userTab:hover
{
  background-color: transparent;/*用户标签设为透明，覆盖borderTab类默认的hover伪类*/
}

#main 
{
  border: 1px black solid;
  width: 80%; /* 调整宽度以适应导航栏，假设总宽度减去导航栏宽度 */
  margin: 1.5%;
  display: flex; /* 添加Flex布局 */
  flex-direction: column; /* 设置垂直方向布局 */
}

#navigationBar 
{
  border: 1px black solid;
  margin: 1%;
  width: auto;
  height: 2rem;
}

#content 
{
  border: 1px black solid;
  margin: 1%;
  flex-grow: 1;
  display: flex; /* 添加Flex布局 */
  flex-direction: column; /* 设置垂直方向布局 */
  overflow-y: auto;
}

.work
{
  border: 1px black solid;
  width: 90%;
  margin:2% auto;
  padding:1% 2%;
}

.headerBox 
{
  display: flex; /* 使用Flex布局来排列标题和按钮 */
  justify-content: space-between; /* 在容器两端对齐项目，中间留有空白 */
  align-items: center; /* 垂直居中对齐 */
}

#multiplicationTable
{
  font-size: 0.8em;
}
#multiplicationTable td
{
  width: 9%;
  height: 6%;
  border:1px black solid;
  padding: 1%;
}

.button /*默认按钮样式*/
{
  background-color:rgba(236, 236, 236, 0);
  font-size: 0.9em;
  border: 1px black solid;
  /* width: 3rem; 这里可能需要调整，取决于实际需求 */
  height: 1.5rem;
  border-radius: 6.8%;
  text-align: center;
  vertical-align: bottom;
}

.buttonBox1
{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 10%;
}

#generateMultiplication
{
  margin-bottom: 6%;
}

.contentInput/*输入框样式*/
{
  border: 1px black solid;
  width: 12.5%;
}

.contentInput:focus/*取消选择框高亮*/
{
  outline: none;
}

.borderTab:hover:not(.activeTab),.button:hover
{
  background-color:rgba(236, 236, 236, 60);
}

.button:active
{
  background-color:rgba(236, 236, 236, 0);
}
.activeTab
{
  background-color:rgba(216, 216, 216, 15);
}