#wrapper{
    display: flex;
    flex-direction: row;
}
.card{
    position: relative;
    top: 4rem;
    max-width: 85%;
    margin: 0 auto;
    border:1px solid rgba(0, 0, 0, 0.1) ;
    background-color: rgb(247, 248, 252);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#card-content{
    display: flex;
    flex-direction: column;
    width: 60%;
}
#card-selfInfo{
    width: 25%;
    margin-left: 0;
}
@media screen and (max-width: 800px) {
    #card-selfInfo {
        display: none;
    }
}