#mapTools{
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0 0.8rem 0;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border:1px solid rgba(0, 0, 0, 0.1) ;
  background-color: rgb(247, 248, 252);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position:relative;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  z-index: 1;
}
#messageBoard{
  background-color: transparent;
  background-image: url(../../image/messageBoard.svg);
  width: 2.5rem;
  height: 2.5rem;
  background-size: cover;
  border: none;
}
#messageBoard:hover{
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1) ;
  background-image: url(../../image/messageBoardSelected.svg);
}
#messageBoard:active{
  border: 1px solid rgba(0, 0, 0, 0.5) ;
  transition: all -0.5s ease;
  background-image: url(../../image/messageBoardSelected.svg);

}
#earthMode{
  background-color: transparent;
  background-image: url(../../image/earthMode.svg);
  width: 2.5rem;
  height: 2.5rem;
  background-size: cover;
  border: none;
}
#earthMode:hover{
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1) ;
  background-image: url(../../image/earthModeSelected.svg);
}
#earthMode:active{
  border: 1px solid rgba(0, 0, 0, 0.5) ;
  transition: all -0.5s ease;
  background-image: url(../../image/earthModeSelected.svg);
}
#amplify{
  background-color: transparent;
  background-image: url(../../image/amplify.svg);
  width: 2.5rem;
  height: 2.5rem;
  background-size: cover;
  border: none;
}

#amplify:hover{
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1) ;
  background-image: url(../../image/amplifySelected.svg);
}
#amplify:active{
  border: 1px solid rgba(0, 0, 0, 0.5) ;
  transition: all -0.5s ease;
  background-image: url(../../image/amplifySelected.svg);
}
#reduce{
  background-color: transparent;
  background-image: url(../../image/reduce.svg);
  width: 2.5rem;
  height: 2.5rem;
  background-size: cover;
  border: none;
}
#reduce:hover{
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1) ;
  background-image: url(../../image/reduceSelected.svg);
}
#reduce:active{
  border: 1px solid rgba(0, 0, 0, 0.5) ;
  transition: all -0.5s ease;
  background-image: url(../../image/reduceSelected.svg);
}
