/*输入框样式*/
.contentInput
{
  border: 1px black solid;
  width: 12.5%;
}
.contentInput:focus/*取消选择框高亮*/
{
  outline: none;
}
.work
{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: white;
  width: 80%;
  border-radius: 2em;
  margin:2% auto;
  padding:4% 6%;
}
.contentBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}



